<section class="login mdl-grid mdl-card mdl-shadow--2dp">
    <h3>Bienvenido a tu mejor app!</h3>
    <form action="">
        <h5>Inicia sesion</h5>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="email" id="email">
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="password">
            <label class="mdl-textfield__label" for="password">Contraseña</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored
        mdl-js-ripple-effect" type="submit">
        Iniciar sesion
        </button>
    </form>
</section>